/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", serif;
}

body {
    background-color: rgb(246, 245, 243);
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}





/* HEADER */
header{
    width: 100%;
}

.navbar-header {
    padding: 22px 24px;
}

.navbar-header h1 {
    font-family: "Nerko One", cursive;
    font-size: 44px;
    color: rgb(255, 150, 20);
    text-shadow: 1px 1px 1px rgba(125, 125, 125, 1);
}

/* Smartphone */
@media (max-width: 767.99px) {
    .navbar-header h1 {
        text-align: center;
    }
}